@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Galien";
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.svg#Galien") format("svg");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
}
button {
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
  border: 0;
  background-color: none;
}
*,
::before,
::after {
  box-sizing: border-box;
}
a,
span,
::before,
::after,
i {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
p {
  color:  hsl(calc(var(--hue) - 6), 54%, 26%, 0.6);;
}
h3 {
  font-size: 36px;
  font-weight: normal;
}
/* base start */
:root {
  --hue: 214;
  --color-1: hsl(var(--hue), 54%, 26%);
  --color-2: hsl(calc(var(--hue) - 1), 51%, 40%);
  --color-3: hsl(calc(var(--hue) - 2), 53%, 44%);
  --color-4: hsl(calc(var(--hue) - 6), 56%, 58%);
  --color-5: hsl(calc(var(--hue) - 6), 63%, 75%);
  --color-1a02: hsl(var(--hue), 54%, 26%);
  --color-1a04: hsla(var(--hue), 54%, 26%, 0.4);
  --color-5a02: hsl(calc(var(--hue) - 6), 63%, 75%, 0.2);
  --color-6a02: hsl(calc(var(--hue) - 10), 83%, 38%, 0.2);
  --gradient-1:linear-gradient(90deg, var(--color-1) 3.62%,var(--color-1a04) 97.78%);
  --gradient-2:;
  --text-color: #fff;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
/* header start */

.header {
  padding: 50px 0;
}
.container-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > ul li {
  color: var(--color-2);
  font-size: 28px;
  font-weight: 800;
}
.logo {
  width: 48px;
  height: 48px;
}
.logo-img:not(.stroke){
  fill: var(--color-1);
}
.logo-img.stroke{
  stroke: var(--color-1);
}
.nav {
  display: flex;
  align-items: center;
}
.nav > li:nth-child(n + 2) {
  margin-left: 20px;
}
.hidden-nav-item {
  opacity: 0;
  transition: 0.2s;
}
.nav.visible > .hidden-nav-item {
  opacity: .6;
}
.nav.visible > .hidden-nav-item:hover {
  opacity: 1;
}
/* header end */
/* hero start */
.hero {
  padding-bottom: 240px;
  background: linear-gradient(0deg, var(--color-5a02) 8.84%, transparent 31.12%);
  margin-bottom: 200px;
}
.hero > .container {
  position: relative;
}
.hero-info {
  padding-top: 60px;
  width: 510px;
}
.hero-title {
  font-size: 64px;
  line-height: 74px;
  color: var(--color-1);
  margin-bottom: 30px;
  font-family: "Galien", serif;
}
.hero-text {
  line-height: 26px;
  color: var(--color-1);
  margin-bottom: 70px;
  width: 420px;
}
.hero-btn {
  border: none;
  padding: 15px 50px;
  background: var(--color-4);
  font-size: 16px;
  line-height: 26px;
  box-shadow: 5px 10px 20px hsla(212, 53%, 44%, 0.2);
  border-radius: 10px;
  color: var(--text-color);
  transition: 0.3s;
}
.hero-btn:hover {
  opacity: 0.85;
  transform: translateY(-5px);
}
.hero-img {
  position: absolute;
  right: -195px;
  top: 0;
  z-index: -1;
}
/* header end */
/* project start */
.project {
  margin: 200px 0;
}
.project-main {
  display: flex;
  flex-direction: column;
}
.project-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.project-title {
  width: 230px;
  color: var(--color-1);
  font-weight: 800;
}
.project-text {
  width: 540px;
  line-height: 26px;
  letter-spacing: 0.05em;
}
.smart-home {
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 90px;
  padding: 48px 60px 0 0;
  color: var(--text-color);
  line-height: 46px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}
.smart-home-deco {
  position: absolute;
  top: 75px;
}
.smart-home-title {
  font-size: 28px;
  margin-bottom: 5px;
}
.smart-home-info {
  line-height: 46px;
  opacity: 0.8;
}
.no-webp .smart-home {
  background: url('./img/smart-home-deco.svg'),var(--gradient-1),
    url("../img/smart-home.jpg"), no-repeat 50% / cover;
}
.webp .smart-home {
  background: var(--gradient-1),
    url("../img/smart-home.webp") no-repeat 50% / cover;
}
.apps {
  display: flex;
  justify-content: space-between;
}
.app {
  width: 420px;
  height: 420px;
  border-radius: 10px;
  padding: 24px 0 0 32px;
  color: var(--text-color);
  line-height: 46px;
}
.no-webp .app-left {
  background: var(--gradient-1),
    url("../img/Sparklite-app.jpg") no-repeat 50% / cover;
}
.webp .app-left {
  background: var(--gradient-1),
    url("../img/Sparklite-app.webp") no-repeat 50% / cover;
}
.no-webp .app-right {
  background: var(--gradient-1),
    url("../img/car-rapetition-app.jpg") no-repeat 50% / cover;
}
.webp .app-right {
  background: var(--gradient-1),
    url("../img/car-rapetition-app.webp") no-repeat 50% / cover;
}
.app-title {
  font-size: 28px;
  margin-bottom: 5px;
}
.app-place {
  opacity: 0.8;
}
/* project end */
/* about-us start */
.about-main>:first-child>:first-child{
  position: relative;
  margin-top: -80px;
}
.about-section {
  width: 380px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  letter-spacing: 0.05em;
  line-height: 30px;
  box-shadow: 5px 20px 50px  var(--color-6a02);
  border-radius: 10px;
}
.about-title{
  width: 360px;
  position: absolute;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: var(--color-1);
}
.about-section-title {
  font-size: 20px;
  margin: 55px 0 16px 0;
}
.about-section-info {
  margin-bottom: 32px;
}
.about-main{
  width: calc(100% - 80px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.about-section:not(:first-child){
  margin-top: -200px;
}
.about-main>:nth-child(odd){
  align-self: flex-end;
}
.about-main>:nth-child(even){
  align-self: flex-start;
}

.learn-more {
  color: var(--color-4);
  font-size: 14px;
  font-weight: 800;
  transition: .3s;
}
.learn-more>i{
  align-self: center;
  margin-left: 30px;
}
.learn-more:hover{
text-decoration: underline;
}
/* about-us end */

/* footer start */
.footer-first {
  padding-top: 100px;
  background: var(--color-4);
  border-radius: 200px 0 0 0;
  color: #fff;
}
.footer-first-main {
  padding-bottom: 125px;
}
.footer-first-info {
  display: flex;
  margin-bottom: 125px;
}
.footer-first-title {
  font-size: 36px;
  text-align: left;
  width: 220px;
}
.footer-first-about {
  width: 540px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-left: 100px;
  color: var(--text-color);
}
.footer-first-sponsors {
  display: flex;
  flex-wrap: wrap;
}
.sponsor {
  width: 25%;
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  text-transform: uppercase;
  border-left: solid 1px #fff;
}
.sponsor:nth-child(n + 5) {
  border-top: solid 1px #fff;
}
.sponsor:nth-child(4n + 1) {
  border-left: 0;
}
.sponsor:last-child {
  background-color: var(--color-5a02);
  text-transform: initial;
}
.footer{
  background:var(--color-2);
  margin: 0 100px 0 0;
  padding: 100px;
  border-radius: 0  200px 0 0;
}
.footer-main{
  border-bottom: 1px solid #fff;
}
.footer-main>.container{
  display: flex;
  justify-content: space-between;
}
.footer-info{
  padding-bottom: 100px;
}
.footer-title{
 width: 320px;
 margin-bottom: 30px ;
}
.footer-txt{
  color: rgba(255,255,255, .6);
  width: 460px;
}
.footer-btns{
  padding-top: 65px;
}
.footer-talk-btn{
  background-color: var(--color-4);
  padding: 15px 75px;
  border-radius: 10px;
  transition: .2s;
}
.footer-talk-btn:hover {
  opacity: 0.85;
  transform: translateY(-5px);
}
/* footer end */








@media (max-width:991.98px){
  .container{
    max-width: 740px;
  }
  .hero{
    padding-bottom: 400px;
  }
  .hero-img{
    right: -10px;
    top: 230px;
  }
  .footer-first-title{
    margin-left: 30px;
  }
  .about-main{ width: calc(100% - -50px)}
}
@media (max-width:767.98px){
  .container{
    max-width: 545px;
  }
  .hero-img{
    right: -80px;
    top: 280px;
  }
  .about-main{ width: calc(100% - -80px)}
}
@media (max-width:575.98px){
}
@media (max-width:320px){

}