@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Galien";
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.svg#Galien") format("svg");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
}
button {
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: inherit;
  border: 0;
  background-color: none;
}
*,
::before,
::after {
  box-sizing: border-box;
}
a,
span,
::before,
::after,
i {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
p {
  opacity: 0.6;
}
h3 {
  font-size: 36px;
  font-weight: normal;
}
/* base start */
:root {
  --hue: 214;
  --blue-1: hsl(var(--hue), 54%, 26%);
  --blue-2: hsl(calc(var(--hue) - 1), 51%, 40%);
  --blue-3: hsl(calc(var(--hue) - 2), 53%, 44%);
  --blue-4: hsl(calc(var(--hue) - 6), 56%, 58%);
  --blue-5: hsl(calc(var(--hue) - 6), 63%, 75%);
  --color-5a02: hsl(calc(var(--hue) - 6), 63%, 75%, 0.2);
  --blue-gradient: linear-gradient(181deg, rgba(255, 255, 255, 0) 6.19%, #64b5f699 103.09%);
  --blue-gradient-2: linear-gradient(183deg, #98d0fc -3.62%, hsl(212, 67%, 52%) 88.96%);
  --text-color: #fff;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
/* header start */

.header {
  padding: 50px 0;
}
.container-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > ul li {
  color: var(--blue-5);
}
.logo {
  width: 48px;
  height: 48px;
}
.logo-img:not(.stroke){
  fill: var(--blue-1);
}
.logo-img.stroke{
  stroke: var(--blue-1);
}
.nav {
  display: flex;
  align-items: center;
}
.nav > li:nth-child(n + 2) {
  margin-left: 20px;
}
.hidden-nav-item {
  opacity: 0;
  transition: 0.3s;
}
.nav.visible > .hidden-nav-item {
  opacity: 1;
}
/* header end */
/* hero start */
.hero {
  padding-bottom: 240px;
  background: linear-gradient(0deg, var(--color-5a02) 8.84%, transparent 31.12%);
  margin-bottom: 200px;
}
.hero > .container {
  position: relative;
}
.hero-info {
  padding-top: 60px;
  width: 510px;
}
.hero-title {
  font-size: 64px;
  line-height: 74px;
  color: var(--blue-1);
  margin-bottom: 30px;
  font-family: "Galien", serif;
}
.hero-text {
  line-height: 26px;
  color: var(--blue-1);
  margin-bottom: 70px;
  width: 420px;
}
.hero-btn {
  border: none;
  padding: 15px 50px;
  background: var(--blue-4);
  font-size: 16px;
  line-height: 26px;
  box-shadow: 5px 10px 20px hsla(212, 53%, 44%, 0.2);
  border-radius: 10px;
  color: var(--text-color);
  transition: 0.3s;
}
.hero-btn:hover {
  opacity: 0.85;
  transform: translateY(-5px);
}
.hero-img {
  position: absolute;
  right: -195px;
  top: 0;
  z-index: -1;
}
/* header end */
/* project start */
.project {
  margin: 200px 0;
}
.project-main {
  display: flex;
  flex-direction: column;
}
.project-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.project-title {
  width: 230px;
  color: var(--blue-1);
  font-weight: 800;
}
.project-text {
  width: 540px;
  line-height: 26px;
  letter-spacing: 0.05em;
}
.smart-home {
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 90px;
  padding: 48px 60px 0 0;
  color: var(--text-color);
  line-height: 46px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}
.smart-home-deco {
  position: absolute;
  top: 75px;
}
.smart-home-title {
  font-size: 28px;
  margin-bottom: 5px;
}
.smart-home-info {
  line-height: 46px;
  opacity: 0.8;
}
.no-webp .smart-home {
  background: linear-gradient(90deg, #1f3f68 3.62%, rgba(31, 63, 104, 0.37) 97.78%),
    url("../img/smart-home.jpg") no-repeat 50% / cover;
}
.webp .smart-home {
  background: linear-gradient(90deg, #1f3f68 3.62%, rgba(31, 63, 104, 0.37) 97.78%),
    url("../img/smart-home.webp") no-repeat 50% / cover;
}
.apps {
  display: flex;
  justify-content: space-between;
}
.app {
  width: 420px;
  height: 420px;
  border-radius: 10px;
  text-align: flex-start;
  padding: 24px 0 0 32px;
  color: var(--text-color);
  line-height: 46px;
}
.no-webp .app-left {
  background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%),
    url("../img/Sparklite-app.jpg") no-repeat 50% / cover;
}
.webp .app-left {
  background: linear-gradient(90deg, #1f3f68 3.62%, rgba(31, 63, 104, 0.37) 97.78%),
    url("../img/Sparklite-app.webp") no-repeat 50% / cover;
}
.no-webp .app-right {
  background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%),
    url("../img/car-rapetition-app.jpg") no-repeat 50% / cover;
}
.webp .app-right {
  background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%),
    url("../img/car-rapetition-app.webp") no-repeat 50% / cover;
}
.app-title {
  font-size: 28px;
  margin-bottom: 5px;
}
.app-place {
  opacity: 0.8;
}
/* project end */
/* about-us start */
.about-section {
  width: 380px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  letter-spacing: 0.05em;
  line-height: 30px;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
}
.about-title{
  width: 360px;
  position: absolute;
}
.about-section-title {
  font-size: 20px;
  margin: 55px 0 16px 0;
}
.about-section-info {
  margin-bottom: 32px;
}
.about-main{
  width: calc(100% - 80px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.about-section{
  height: 525px;
}
.about-section:not(:first-child){
  margin-top: -200px;
}
.about-main>:nth-child(odd){
  align-self: flex-end;
}
.about-main>:nth-child(even){
  align-self: flex-start;
}

.learn-more {
  color: var(--blue-4);
  font-size: 14px;
  font-weight: 800;
}
/* about-us end */

/* footer start */
.footer-first {
  padding-top: 100px;
  background: var(--blue-4);
  border-radius: 200px 0 0 0;
  color: #fff;
}
.footer-first-main {
  padding-bottom: 125px;
}
.footer-first-info {
  display: flex;
  margin-bottom: 125px;
}
.footer-first-title {
  font-size: 36px;
  text-align: left;
  width: 220px;
}
.footer-first-about {
  width: 540px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-left: 100px;
}
.footer-first-sponsors {
  display: flex;
  flex-wrap: wrap;
}
.sponsor {
  width: 25%;
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  text-transform: uppercase;
  border-left: solid 1px #fff;
}
.sponsor:nth-child(n + 5) {
  border-top: solid 1px #fff;
}
.sponsor:nth-child(4n + 1) {
  border-left: 0;
}
.sponsor:last-child {
  background-color: var(--color-5a02);
  text-transform: initial;
}
/* footer end */
